services:

#  postgres:
#    image: postgres:16-alpine
#    command: postgres -c 'max_connections=10000'
#    restart: unless-stopped
#    volumes:
#      - /var/lib/postgresql/data
#    environment:
#      POSTGRES_USER: "sa"
#      POSTGRES_PASSWORD: "123456"
#    ports:
#      - "5432:5432"
#    networks:
#      - banking
    
  postgres-age:
    image: apache/age
    container_name: postgres-age
    restart: unless-stopped
    environment:
      POSTGRES_USER: "sa"
      POSTGRES_PASSWORD: "123456"
#    depends_on:
#      - postgres
    ports:
      - "5432:5432"
    volumes:
      - /var/lib/postgresql/data
    command: >
      postgres
      -c shared_preload_libraries=age
      -c log_statement=all
    networks:
      - banking

networks:
  banking: